<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company List</title>
 <link rel="stylesheet" href="/assets\css/bootstrap.min.css">
    <script  src="/assets/js/bootstrap.min.js" ></script>
    <style>
        .card {
            width: 400px;
            height: 400px;
            margin-bottom: 20px;
        }
        .card img {
            height: 100px;
            object-fit: cover;
        }
        .card-body {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>